@model List<SED.Models.DocenteBLL>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/SED.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table class="table table-bordered table-hover">
            <tr>
                <td>IdDocente</td>
                <td>CodigoEmpleado</td>
                <td>CorreUniversitario</td>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id_Docente</td>
                    <td>@item.CodigoEmpleado</td>
                    <td>@item.CorreoUniversitario</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>