
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Smoke</title>
    <link rel="stylesheet" href="~/css/estilos.css">
</head>

<body>
    <video src="~/img/smoke.mp4" autoplay muted></video>
    <section>
        <h1>
            <span>p</span>
            <span>i</span>
            <span>c</span>
            <span>h</span>
            <span>a</span>
            <span>r</span>
            <span>d</span>
            <span>o</span>
        </h1>
    </section>
    <a>Entrar</a>
</body>

</html>
